@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
/* ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    transition: 0.6s;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
} */
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;

}
.navbar{
/*  position: absolute;*/
  width: 100%;
  z-index: 2;
  padding: 30px 0;
  transition: all 0.3s ease;
  height: 60px;

}
.navbar.sticky{
  background: #6d2e2e;
  padding: 6px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.navbar .logo a{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color:rgb(238, 12, 12);
}
.menu-list #d{
  margin-left: 24px;
  color: #ebeff1;
  font-size: 18px;
  font-weight: 500;
  }
  .menu-list #d:hover{
    color:rgb(238, 12, 12);
  }
  .menu-list ul{
  position: absolute;
  background: #8fa2b6;
  display: none;
  margin-top: 1px;
  margin-left: -20px;
  border-radius: 20px;
  }
  .menu-list li:hover ul{
  display: block;
  }
  .menu-list ul li{
  display: block;
  width: 220px;
  margin-top: 20px;
  color: #f5f7f8;
  font-size: 18px;
  font-weight: 500;
  }
  

.banner{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(182, 166, 127, 0.582)),url("scott-graham-5fNmWej4tAA-unsplash.jpg");
  height: 70vh;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}



body{
    background-color: rgb(19, 18, 18);
}
    h1{
     color:rgb(19, 18, 18);
     font-size:30px;
     text-align:center;
    }
    .logo5{
      margin-left: 22%; 
      height: 350px;
    }
    .box{
      display: block;  
      background-color: rgb(119, 202, 228);
      margin-top: 5%;
      margin-left: 30%;
      width:600px;
      border-radius: 20%;
    }
    .btn{ 
   margin-top: 7px;
   margin-bottom: 10px;
   height:35px;
   width:65px;
   margin-left: 10px;
   background-color:navy;
   color: white;
   border-radius: 10px;
   border:none;
   
   }
   
   .btn[type=submit]:hover{
   opacity:0.7;
   margin-top: 8px;
   }

   .form-control input{
    position:relative;
    width: 350px;
    padding:3%;
    height:30px;
    margin-bottom: 8px;
    margin-top:10px;
    margin-right: 5px;
    border: 0px;
    outline:none;
    background-color: rgb(15, 5, 5);
    opacity:0.7;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 4px solid rgb(66, 8, 223);
    font-weight: bold;
    overflow:hidden;
    color: rgb(245, 241, 241);
    border-radius: 15px;

}

.form-control input:hover{
    background-color: rgb(14, 9, 9);
    color: white;
}

.form-group label{
    position:relative;
    color:rgb(12, 9, 6);
    font-size:30px;
    height:40px;
    margin-top:10px;
}

.noti{
    background-color: rgb(64, 219, 64);
    text-align: center;
    font-size: 140%;
    margin-bottom: 15px;
    transition: opacity 0.6s;
}

.noti1{
    background-color: rgb(235, 60, 60);
    text-align: center;
    font-size: 140%;
    margin-bottom: 15px;
    transition: opacity 0.6s;
}

 .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 42px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

 .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 42px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

footer{
  background: #d0d8e0;
  margin-top: 8%;
}
.logo2{
  display: flex;
}
.logo2 img{
  width: 10%;
  height: 10%;
  margin-left: 33%;
}
.logo2 h2{
  font-size: 45px;
  margin-top: 3.5%;
  color: #041929;
}
.button{
  text-align: center;
}
.button a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #f44336;
  margin: 20px 10px;
  margin-bottom: 35px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  transition: 0.7s;
  width: 130px;
}
.button a:hover{
  background: #e48882;
  width: 150px;
  color: #021c2e;
}
.last{
  background: #8fa2b6;
  padding: 5px;
  text-align: center;
  color: red;
}
@media (max-width: 900px){
  .logo2 img{
    width: 20%;
    height: 20%;
    margin-left: 25%;
  }
  .logo2 h2{
    font-size: 40px;
    margin-top: 8%;
    color: #041929;
  }
}
@media (max-width: 550px){
  .logo2 img{
    width: 20%;
    height: 20%;
    margin-left: 20%;
  }
  .logo2 h2{
    font-size: 30px;
    margin-top: 8%;
  }
  .button a{
    padding: 5px 10px;    
    width: 100px;
  }
  .button a:hover{
    width: 120px;
  }
}
@media (max-width: 420px){
  .logo2 img{
    width: 20%;
    height: 20%;
    margin-left: 17%;
  }
  .logo2 h2{
    font-size: 25px;
    margin-top: 6%;
  }
  .button a{
    padding: 4px 8px;
    width: 100px;
  }
  .button a:hover{
    width: 110px;
  }
}


@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    color: black;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    /* background: #222; */
    background: #d0d8e0;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 30px;
  }
  .navbar .menu-list li a{
    font-size: 18px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  .menu-list #d{
    margin-left: 10px;
    color: #021c2e;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }
  .menu-list ul{
    position: absolute;
    background: #8fa2b6;
    display: none;
    margin-top: 1px;
    margin-left: 60px;
    border-radius: 20px;
  }
  .menu-list li:hover ul{
    display: block;
  }
  .menu-list ul li{
    display: block;
    width: 200px;
    margin-top: 20px;
    color: #021c2e;
    font-size: 18px;
    font-weight: 200;
  }
  }
